.hero {
  width: 100%;
  height: 50vh;
  background: url("/img/shopHero.jpg") no-repeat center/cover;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;

  a {
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 10px 20px;
    margin-top: 20px;
  }
  a:hover {
    font-size: 1.25rem;
  }
}

.heroHeading {
  background: rgb(15, 15, 80);
  color: #fff;

  .headingRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25rem;
    padding: 15px 25px;
    .code {
      color: rgb(240, 179, 26);
    }
  }
}

.heading{
  padding: 20px 0px;

  h2{
    border-bottom: solid 1px #000;
  }
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
  .hero {
    margin-top: 55px;

    h1 {
      font-size: 1.25rem;
    }
  }

  .heroHeading {
    .headingRow {
      flex-direction: column;
    }
  }
}
