.wrapper{
    background: rgb(15, 15, 80);
    color: #fff;
    margin: auto;
    width: 60%;
    gap: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;

    p{
        margin: 10px 0;
    }

    .link{
        a{
            color: rgb(15, 15, 80);
            background-color: #fff;
            text-decoration: none;
            padding: 5px 30px;
            

        }
    }
}

@media screen and (min-width:0px) and (max-width:750px){
    .wrapper{
        width: 80%;
        gap: 30px;

       
    }
}